@* Top nav. Five pages, no submenu. *@
<nav class="nav">
    <NavLink class="nav-link" href="/findings" Match="NavLinkMatch.Prefix">Findings</NavLink>
    <NavLink class="nav-link" href="/allow-list">Allow-list</NavLink>
    <NavLink class="nav-link" href="/scan">Scan</NavLink>
    <NavLink class="nav-link" href="/cost">Cost</NavLink>
</nav>
